@import "header.css";


h1 {
  text-align: center;
}
main{
  margin-bottom: 1em;
}
.avaliacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-style: groove;
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(0deg, #ffffff, #c0c0c0);
}
.avaliacao{
  margin: 2%;
  border: 2px solid black;
  border-radius: 12px;
  padding: 5px;
  background-color: #f0efef;

}
.avaliacao_comentario{
  line-height: 1em;
  height: 4em;
}
.mais{
  display: none;
}
.ler_mais{
  text-align: right;
  color: #858585;
  cursor: pointer;
}
.ler_mais:hover{
  color: #000000;
}