@import "header.css";


h1 {
  text-align: center;
}
/* how to center and create border around .avaliacoes */
.avaliacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: groove;
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(0deg, #ffffff, #add8e6);
}

.avaliacao{
  margin: 2%;
  border: 2px solid black;
  border-radius: 12px;
  padding: 5px;
  background-color: #ffffff;

}

.avaliacao_comentario{
  line-height: 1em;
  height: 4em;
}
.ler_mais{
  display: none;
}