@import "header.css";

.container{
    margin-left: 2%;
}
.column{
    display: flex;
    flex-direction: row;
}
.container-content{
    width: 90%;
    border: 1px solid #000;
}

.container-contetnt .column{
    flex-direction: column;
}
.container-title{
    text-align: center;
}
.container-content-image{
    /* how to centralize elemnets */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding-left: 5px;
}
.container-content-item{
    width: fit-content;
    margin-left: 2%;
}
@media screen and (max-width: 600px){
    .container{
        margin-left: 0;
    }
    .container-content{
        width: 100%;
    }
    .container-content-image{
        width: 100%;
    }
    .container-content-item{
        width: 100%;
    }
}
@media screen and (min-width: 1805px){
    .container-content{
        padding: 5px;
    }
}