@import "header.css";

.container{
    margin-left: 2%;
}
.column{
    display: flex;
    flex-direction: row;
}
.container-contetnt{
    width: 100%;
}
.container-contetnt .column{
    flex-direction: column;
}
.container-content-item{
    width: fit-content;
    margin-left: 2%;
}