@import "header.css";

p {
    text-align: center;
}

    /* Create four equal columns that floats next to each other */
    .column {
  float: left;
  width: 10%;
  padding: 110px;
  text-align: center;
  cursor: pointer;
}
   /* Clear floats after the columns */
    .row:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
    margin-left: 5px;
     border-radius: 12%;
    text-align: center;
    
}
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
