@import "header.css";

h1{
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    font-size: 150%;
}

p{
    font-weight: bold;
}

.video{
    display: block;
    margin: 0 auto;
}

.button{
    display: block;
    margin: 0 auto;
    background-color: #9A348e;
    color: white;
    padding: 2px 30px;
    border-radius: 5px;
    cursor: pointer;
}

article{
    text-align: center;
    margin: 5% 0 3% 0;
    border: 50px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: #fca17d;
    border-radius: 10px;
}

@media only screen and (max-width: 640px){
    .video{
        height: auto;
        width: auto;
        margin: 50px auto;
    }
}