@import "header.css";

.button{
    display: block;
    margin: 0 auto;
    background-color: #9A348e;
    color: white;
    padding: 2px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn_container{
    text-align: center;
    margin: 5% 0 3% 0;
    border: 50px;
}

.itens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0 0 10%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 0;
    border: 1px solid black;
    border-radius: 10px;
}
img{
    margin-top: 5px;
    padding: 0px 5px;
}
p{
    margin: 0;
    padding: 0px 5px;
}