@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

header{
    align-items: baseline;
    width: 100%;
    padding-top:0.1%;
    font-family: 'Adamina';
    font-weight: bolder;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul{
    padding: 0;
    text-align: center;

}
ul li{
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0 5%;
}

.logo{
    margin-left: 5px;
    text-align: center;
}

a{
    display: block;
    color: white;
}

a:link{
    text-decoration: none;
}

.button{
    display: block;
    margin: 0 auto;
    background-color: #9A348e;
    color: white;
    padding: 2px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn_container{
    text-align: center;
    margin: 5% 0 3% 0;
    border: 50px;
}