@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

header{
    padding-top:0.1%;
    font-family: 'Adamina';
    font-weight: bold !important;

}

body{
    font-family: 'Poppins', sans-serif;
}

ul{
    padding: 0;
    text-align: center;

}
ul li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    text-align: right;
    color: black;
}

.logo{
    margin-left: 5px;
    font-weight: bold;
    border-radius: 12%;
    text-align: center;
}

a{
    display: block;
    color: white;
}

a:link{
    text-decoration: none;
}