@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


    header {
        padding-top:0.1%;
        font-family: 'Adamina';
        font-weight: bold !important;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul{
    padding: 0;
    text-align: center;
}
ul li {
    display: inline-block;
    margin-right: 130px;
    margin-left: 130px;
    text-align: center;
    color: black;
    font-size: 15px;
}

.logo{
    margin-left: 5px;
    font-weight: bold;
    padding: 1px 8px 1px 8px;
    border-radius: 12%;
    background-color: #da627d;
}

a {
    display: block;
}

a:link {
    text-decoration: none;
}
p {
    text-align: center;
}