@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "header.css";

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
  align-items: baseline;
  width: 100%;
  padding-top:0.1%;
  font-family: 'Adamina';
  font-weight: bolder;
}


.logo {
  margin-left: 5px;
  border-radius: 25%;
 text-align: center;
 padding-top: 1%;
}
 
 /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
 @media screen and (max-width:600px) {
.column {
 width: 100%;
 padding: 2px 30px;
 border-radius: 5px;
 cursor: pointer;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


}
ul{
  padding: 5px;
  font-weight: bold;  
  text-align: center;
}

ul li{
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  margin-left: 15px;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: auto;
}

a {
  display: block;
  color: white;
  margin-right: 10px;
}

a:link {
    text-decoration: none;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 10%;
  padding: 110px;
  text-align: center;
}

span.a {
  display: inline;
  /* the default for span */
  width: 100px;
  height: 100px;
  padding: 10px;
}
span.a
.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 2.5em
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.avaliação2{
  cursor: pointer;
  margin:0;
  border: black;
  text-align: center; 
}
.enviar-dados {
  color: #ffffff;
  width: 100px;
  font-family: verdana;
  font-size: large;
  background-color: blue;
  margin:0;
  border: black;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

.enviar-dados:hover {
  background-color: red;
}
.filtro  {
  display: inline-block;
  margin-right: 15px;
  font-size: larger;
  margin-left: 15px;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: auto;
}

.resultado{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 60%;
  border: 1px solid grey;
  background-color: #f2f2f2;
  padding: 0 5px;
}
.comentario-texto{
  border: 1px solid black;
  border-radius: 12px;
  padding: 1px;
}